<div class="pui-grid-xs-6 pui-grid-sm-4 pui-grid-md-3 pui-grid-lg-3 pui-grid-xl-3 pui-grid-xxl-3">

    <ul class="pui-list pui-list-view pui-list-view-radius pui-list-view-small pui-list-view-angle-right">
        <li>
            <a href="javascript:;">
                <i class="fa fa-envelope-o pui-text-teal-300"></i>
                <summary>
                    <h6>文章管理</h6>
                </summary>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-bars pui-text-orange-300"></i>
                <summary>
                    <h6>评论管理</h6>
                </summary>
            </a>
        </li>
    </ul>

</div>