{% load blog_tags %}
<h4 class="h4">发布评论</h4>
<div class="pui-comment pui-comment-avatar-right">
    {% if user %}
        <div class="pui-comment-avatar">
            <img src="images/1.jpg" class="pui-img-circle pui-img-xs"/>
            <p>{{ user.username }}</p>
        </div>
        <div class="pui-comment-container">
            <div class="pui-comment-main pui-comment-arrow-rt">
                <form action="" class="commitCommentForm">
                    <div class="pui-form-group">
                        <textarea name="commentContent" class="pui-input-border-default"></textarea>
                        <input value="{{ blog.id }}" name="commentBlog" style="display: none">
                        <div class="pui-form-group">
                            <input type="button" value="提交" class="pui-btn pui-btn-primary comment_button"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        请登录后评论
    {% endif %}
</div>


<h4 class="h4">评论列表</h4>
{% comment_tree comment_tree %}
<br/>
<div class="blog-pagination">
    <ul class="pui-pagination pui-pagination-bordered pui-pagination-prev-next">
        <li><a href="#" class="disabled">上一页</a></li>
        <li class="pui-pagination-nav"><span>1 / 15</span></li>
        <li><a href="#">下一页</a></li>
    </ul>
</div>

{% block js %}
    <script type="text/javascript" src="/static/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
        $(".comment_button").on('click', function () {
            if ($("textarea").val().trim() != '' && $("textarea").val().trim() != undefined && $("textarea").val().trim() != null) {
                var data = $(".commitCommentForm").serialize()
                $.ajax({
                    url: '/blog/commitComment/',
                    type: 'post',
                    data: data,
                    success: function (result) {
                        if (result.status) {

                        }
                    }
                })
            } else {
                layer.msg("请正确填写评论内容")
            }
        })

        //回复框的隐藏与显示
        $('.reply_button').on('click', function () {
            var dom = $(this).parent().children('.commitReplyForm')
            if (dom.is(':hidden')) {
                dom.show()
            } else {
                dom.hide()
            }
        })

        //提交回复
        $('.commitReplyForm input[type="button"]').on('click', function () {
            var form = $(this).parent().parent().parent()
            var content = $(this).parent().parent().children('textarea')
            if (content == '' || content == undefined || content == 'null') {
                layer.msg('请将内容填写完整')
                return false
            }
            var data = form.serialize();
            $.ajax({
                url: "/blog/commitComment/",
                data: data,
                type: 'POST',
                success: function (result) {
                    if (result.status) {

                    }
                },
                error: function () {

                }
            })
        })
    </script>
{% endblock %}