{% load blog_tags %}
<h4 class="h4">发布评论</h4>
<div class="pui-comment pui-comment-avatar-right">
    {% if user %}
        <div class="pui-comment-avatar">
            <img src="images/1.jpg" class="pui-img-circle pui-img-xs"/>
            <p>{{ user.username }}</p>
        </div>
        <div class="pui-comment-container">
            <div class="pui-comment-main pui-comment-arrow-rt">
                <form action="" class="commitCommentForm">
                    <div class="pui-form-group">
                        <textarea name="commentContent" class="pui-input-border-default"></textarea>
                        <input value="{{ blog.id }}" name="commentBlog" style="display: none">
                        <div class="pui-form-group">
                            <input type="button" value="提交" class="pui-btn pui-btn-primary comment_button"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        请登录后评论
    {% endif %}
</div>


<h4 class="h4">评论列表</h4>
<div id="comment_view_area">
    {% comment_tree comment_tree %}
</div>
<br/>
<div class="blog-pagination">
    <ul class="pui-pagination pui-pagination-bordered pui-pagination-prev-next">
        <li><a href="#" class="disabled">上一页</a></li>
        <li class="pui-pagination-nav"><span>1 / 15</span></li>
        <li><a href="#">下一页</a></li>
    </ul>
</div>

{% block js %}
    <script type="text/javascript" src="/static/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">blog_id ={{ blog.id }};</script>
    <script type="text/javascript" src="/static/assets/js/comment.js"></script>
{% endblock %}