{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/blog_view.css"/>
{% endblock %}

{% block main %}

    <a name="top"></a>
    <a href="#top" class="fa fa-arrow-circle-up fa-3x pui-text-blue-400" id="go-to-top"></a>
    <div class="pui-layout">
        {% include 'component/header.html' %}
        <div class="pui-container pui-layout-fixed pui-layout-fixed-1200 pui-grid blog-main">
            <div class="pui-row">
                <div class="pui-grid-xs-12 pui-grid-sm-8 pui-grid-md-8 pui-grid-lg-9 blog-list">
                    <div class="pui-card pui-card-default pui-card-simple">
                        <div class="pui-card-title">
                            <strong><a href="view.html">{{ blog.title }}</a></strong>
                            <p class="article-category">
                                来源：<a href="http://cdc.tencent.com/?p=7951">腾讯CDC</a>&nbsp;&nbsp;&nbsp;分类：<a href="#">交互设计</a>,
                                <a href="#">网页设计</a>
                            </p>
                            <span class="article-date"><small>{{ blog.createDate|date:'Y' }}</small>
                                {{ blog.createDate|date:'m-d' }}</span>
                        </div>
                        <div class="pui-card-foot pui-clear">
                            <span class="pui-text-gary"><i class="fa fa-eye"></i> 浏览: {{ blog.readTotal }}&nbsp;&nbsp;&nbsp;<i
                                    class="fa fa-comments"></i> <a href="#comments"
                                                                   class="pui-text-gary">评论: {{ blog.commentTotal }}</a>&nbsp;&nbsp;&nbsp;<i
                                    class="fa fa-heart-o"></i> 喜爱: {{ blog.favorTotal }}</span>
                            <div class="bdsharebuttonbox pui-right">
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                <a href="#" class="bds_more" data-cmd="more"></a>
                            </div>
                        </div>
                        <div class="pui-card-box">
                            <p><img src="http://cdc.tencent.com/?attachment_id=7965"
                                    class="pui-img-full-width article-image"/></p>
                            <div class="pui-text-sm">
                                <blockquote>
                                    <p class="pui-text-indent">译者注：本文作者 Adrian Taylor 是一位交互创意总监并且是Pushstart
                                        Creative的创办人,专注于多种研究，如物理聚合、人机交互技术和品牌体验等。尽管他目前工作的重点是产品研发、战略发展、UX等，但是对pixels却一往情深。想了解更多可以去
                                        designtaylor.com或者上Twitter查找 Adrian Taylor。</p>
                                    <p class="pui-text-indent">原文地址：<a
                                            href="http://www.smashingmagazine.com/2013/09/03/flat-and-thin-are-in/"
                                            target="_blank" class="pui-link">http://www.smashingmagazine.com/2013/09/03/flat-and-thin-are-in/</a>
                                    </p>
                                </blockquote>
                                <br/>
                                {{ blog.content|safe }}
                                <a name="comments"></a>
                                <p class="pui-text-center"><a href="#top" class="pui-btn pui-btn-default">TOP <i
                                        class="fa fa-long-arrow-up" style="margin-top: -5px;"></i></a></p>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="pui-menubar pui-menubar-square">
                        <div class="pui-menubar-aside">
                            <a href="#" title="QQ导航改版设计心得">上一篇：QQ导航改版设计心得</a>
                        </div>
                        <div class="pui-menubar-offside">
                            <a href="#">下一篇：做好扁平化设计－交互篇与众不同易，精益求精难</a>
                        </div>
                    </div>
                    {% include 'blog/comment.html' %}
                </div>
                {% include 'component/blog_side.html' %}
            </div>
        </div>
        {% include 'component/footer.html' %}
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/index.js"></script>
    <script type="text/javascript"> blog_id = '{{ blog.id }}';</script>      <!-- 引入全局变量将blog_id引入下面的js文件 -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/read_count.js"></script>
    <script>window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "1",
            "bdSize": "16"
        },
        "share": {},
        "image": {"viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16"},
        "selectShare": {"bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]}
    };
    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com{{ STATIC_URL }}api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
{% endblock %}
