<div class="pui-grid-xs-12 pui-grid-sm-4 pui-grid-md-4 pui-grid-lg-3 blog-side">
    <div class="pui-card pui-card-default pui-card-simple">
        <div class="pui-card-title pui-card-title-left-border">
            <span class="pui-card-title-right pui-xs-show"><a href="#top">TOP</a></span>
            <strong>热门文章</strong>
        </div>
        <div class="pui-card-box">
            <ul class="pui-list pui-top10-list">
                <li>
                    <a href="#" class="pui-top-1">
                        <span class="pui-top-count">15万</span>转载：扁平和简约来袭
                    </a>
                </li>
                <li>
                    <a href="#" class="pui-top-2">
                        <span class="pui-top-count">11.9万</span>转载：做好扁平化设计－视觉篇
                    </a>
                </li>
                <li>
                    <a href="#" class="pui-top-3">
                        <span class="pui-top-count">4.6万</span>转载：做好扁平化设计－交互篇
                    </a>
                </li>
                <li>
                    <a href="#" class="pui-top-4">
                        <span class="pui-top-count">4.4万</span>转载：日常设计：网站设计灵...
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pui-card pui-card-default pui-card-simple">
        <div class="pui-card-title pui-card-title-left-border">
            <span class="pui-card-title-right pui-xs-show"><a href="#top">TOP</a></span>
            <strong>热门评论</strong>
        </div>
        <div class="pui-card-box">
            <ul class="pui-list pui-list-dashed-line">
                <li>
                    <a href="#" class="pui-link">John Wu</a> 评论到：“内容为本及响应式设计的需要”。—— <a href="#"
                                                                                       class="pui-link">转载：扁平和简约来袭</a>
                </li>
                <li>
                    <a href="#" class="pui-link">Tom Lee</a> 评论到：“内容为本及响应式设计的需要”。—— <a href="#"
                                                                                       class="pui-link">转载：做好扁平化设计－视觉篇</a>
                </li>
                <li>
                    <a href="#" class="pui-link">Peter Chan</a> 评论到：“交互交互交互交互交互交互”。—— <a href="#"
                                                                                         class="pui-link">转载：做好扁平化设计－交互篇</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pui-card pui-card-default pui-card-simple">
        <div class="pui-card-title">
            <span class="pui-card-title-right pui-xs-show"><a href="#top">TOP</a></span>
            <strong><i class="fa fa-tags pui-text-teal"></i> 标签</strong>
        </div>
        <div class="pui-card-box">
            <a href="#" class="pui-badge pui-badge-success pui-text-white pui-text-xl">PHP</a>
            <a href="#" class="pui-badge pui-bg-teal pui-text-md">CSS3</a>
            <a href="#" class="pui-badge pui-bg-orange pui-text-xl">HTML5</a>
            <a href="#" class="pui-badge pui-badge-primary">Gulp.js</a>
            <a href="#" class="pui-badge pui-badge-warning pui-text-white pui-text-lg">jQuery</a>
            <a href="#" class="pui-badge pui-badge-error">Flexbox</a>
            <a href="#" class="pui-badge pui-bg-orange">Node-webkit</a>
            <a href="#" class="pui-badge pui-badge-secondary pui-text-lg">Node.js</a>
            <a href="#" class="pui-badge pui-badge-gary">Memcached</a>
            <a href="#" class="pui-badge pui-badge-info pui-text-lg">MySQL</a>
            <a href="#" class="pui-badge pui-badge-error">webfont</a>
            <a href="#" class="pui-badge pui-badge-info pui-text-xl">响应式</a>
            <a href="#" class="pui-badge pui-badge-success">MongoDB</a>
            <a href="#" class="pui-badge pui-badge-error pui-text-lg">Redis</a>
            <a href="#" class="pui-badge pui-badge-gary">IE6</a>
            <a href="#" class="pui-badge pui-badge-primary pui-text-xl">Plane UI</a>
            <a href="#" class="pui-badge pui-badge-success">SSDB</a>
            <a href="#" class="pui-badge pui-badge-info">SQlite</a>
        </div>
    </div>
    <div class="pui-card pui-card-default pui-card-simple">
        <div class="pui-card-title pui-card-title-left-border">
            <span class="pui-card-title-right pui-xs-show"><a href="#top">TOP</a></span>
            <strong>归档</strong>
        </div>
        <div class="pui-card-box">
            <ul class="pui-list pui-list-angle-right-type pui-list-column-2">
                <li><a href="#">2014年12月</a></li>
                <li><a href="#">2014年11月</a></li>
                <li><a href="#">2014年10月</a></li>
                <li><a href="#">2014年09月</a></li>
                <li><a href="#">2014年08月</a></li>
                <li><a href="#">2014年06月</a></li>
                <li><a href="#">2014年04月</a></li>
                <li><a href="#">2014年01月</a></li>
            </ul>
        </div>
    </div>
    <div class="pui-card pui-card-default pui-card-simple">
        <div class="pui-card-title pui-card-title-left-border">
            <span class="pui-card-title-right pui-xs-show"><a href="#top">TOP</a></span>
            <strong>关注我</strong>
        </div>
        <div class="pui-card-box padding-l-r-10">
            <ul class="pui-menu pui-menu-radius pui-menu-inline pui-list-column-2">
                <li>
                    <a href="http://weibo.com/ipandao" target="_blank"><i
                            class="fa fa-weibo pui-text-red"></i> Weibo</a>
                </li>
                <li>
                    <a href="https://gihub.com/pandao" target="_blank"><i class="fa fa-github"></i>
                        Github</a>
                </li>
                <li>
                    <a href="https://gihub.com/pandao" target="_blank"><i
                            class="fa fa-facebook pui-text-blue-900"></i> Facebook</a>
                </li>
                <li>
                    <a href="https://gihub.com/pandao" target="_blank"><i
                            class="fa fa-twitter pui-text-blue-500"></i> Twitter</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="pui-card pui-card-default pui-card-simple">
        <div class="pui-card-box padding-l-r-10">
            <ul class="pui-menu pui-menu-radius pui-margin-none pui-list-column-2">
                {% if user %}
                    <li>
                        <a href="http://weibo.com/ipandao" target="_blank"><i
                                class="fa fa-user pui-text-teal"></i> {{ user.username }}</a>
                    </li>
                    <li>
{#                        此处注销的链接的url需要添加 /,表示将从根目录发起请求，如果不添加首个斜杠请求地址将变成当前地址+ href中的地址#}
                        <a href="/user/logout"><i
                                class="fa fa-sign-in pui-text-green"></i>注销</a>
                    </li>
                {% else %}
                    <li>
                        <a href="http://weibo.com/ipandao" target="_blank"><i
                                class="fa fa-sign-in pui-text-green"></i> 登录</a>
                    </li>
                    <li>
                        <a href="http://weibo.com/ipandao" target="_blank"><i
                                class="fa fa-user pui-text-teal"></i> 注册</a>
                    </li>
                {% endif %}
                <li>
                    <a href="https://gihub.com/pandao" target="_blank"><i
                            class="fa fa-rss pui-text-orange"></i> 文章RSS</a>
                </li>
                <li>
                    <a href="https://gihub.com/pandao" target="_blank"><i
                            class="fa fa-rss-square pui-text-orange"></i> 评论RSS</a>
                </li>
            </ul>
            <p class="pui-text-center"><img src="images/qr-code.png" class="pui-img-size-auto"/></p>
        </div>
    </div>
</div>
