 <footer class="pui-center pui-layout-fixed pui-layout-fixed-1200 blog-footer">
            <hr class="pui-xs-hide"/>
            <ul class="pui-breadcrumb pui-margin-none">
                <li>
                    <a href="index.html"><i class="fa fa-home"></i> 首页</a>
                </li>
                <li>
                    <a href="#">PHP</a>
                </li>
                <li>
                    <a href="#">前端</a>
                </li>
                <li>
                    <a href="#">设计</a>
                </li>
                <li>
                    <a href="#">游记</a>
                </li>
                <li>
                    <a href="#">关于我</a>
                </li>
            </ul>
            <div class="copyright">
                <span class="pui-right"><a href="#top" class="pui-link">TOP</a></span>
                <p>Copyright &copy; 2014-2015 <a href="https://github.com/pandao/planeui" class="pui-link"
                                                 title="Plane UI's Blog" target="_blank">Plane UI's Blog</a> All Rights
                    Reserved.</p>
                <p>Powered by <a href="https://github.com/pandao/planeui" class="pui-link" target="_blank">Plane UI</a>,
                    <a
                            href="https://github.com/pandao/planeui/blob/master/LICENSE" target="_blank"
                            class="pui-link">MIT</a> License.
                    <small class="pui-right">代码如诗。</small>
                </p>
            </div>
        </footer>