<div class="pui-layout pui-bg-blue-500 blog-header-con">
    <header class="pui-center pui-layout-fixed pui-layout-fixed-1200 blog-header">
        <h2>Plane UI's Blog
            <small class="pui-text-white">官方博客</small>
        </h2>
        <menu class="pui-grid pui-row blog-menu">
            <ul class="pui-menu pui-menu-inline pui-menu-radius pui-grid-xs-12 pui-grid-sm-8 pui-grid-md-8 pui-grid-lg-9 pui-xs-hide">
                <li>
                    <a href="../index.html"><i class="fa fa-home"></i> 首页</a>
                </li>
                <li>
                    <a href="#">PHP</a>
                </li>
                <li>
                    <a href="#">前端 <i class="pui-arrow-down"></i></a>
                    <ul class="pui-menu pui-menu-dropdown">
                        <li>
                            <a href="#">HTML5 & CSS3</a>
                        </li>
                        <li>
                            <a href="#">Javascript</a>
                        </li>
                        <li>
                            <a href="#">jQuery</a>
                        </li>
                        <li>
                            <a href="#">Node.js</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">设计 <i class="pui-arrow-down"></i></a>
                    <ul class="pui-menu pui-menu-dropdown">
                        <li>
                            <a href="#">交互设计</a>
                        </li>
                        <li>
                            <a href="#">网页设计</a>
                        </li>
                        <li>
                            <a href="#">UI设计</a>
                        </li>
                        <li>
                            <a href="#">平面设计</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">游记</a>
                </li>
                <li>
                    <a href="#">关于我</a>
                </li>
            </ul>
            <div class="pui-grid-xs-12 pui-grid-sm-4 pui-grid-md-4 pui-grid-lg-3 blog-search pui-xs-hide">
                <form action="" method="post"
                      class="pui-search pui-round pui-search-large pui-search-unbordered pui-right">
                    <input type="text" name="keywords" class="pui-search-keywords" placeholder="搜索..."/>
                    <button type="submit" class="pui-search-submit" name="submit-pui-search" value=""></button>
                    <ul class="pui-list pui-search-auto-complete pui-shadow pui-hide">
                        <li><a href="#">Plane</a></li>
                        <li><a href="#">Plane 插件</a></li>
                        <li><a href="#">Plane UI</a></li>
                        <li><a href="#">Plane 组件</a></li>
                        <li><a href="#">Plane 教程</a></li>
                    </ul>
                </form>
            </div>
        </menu>

        <i class="fa fa-list fa-2x pui-xs-show" id="open-menu"></i>
    </header>
</div>