<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="description" content="Plane UI"/>
    <meta name="keywords" content="Plane UI"/>
    <title>Blog example - Plane UI</title>

    <link rel="icon" type="image/png" href="../favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}planeui/css/planeui.css"/>
    {% block css %}{% endblock %}


</head>
<body>
{% block main %}

{% endblock %}

<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}planeui/js/planeui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}layer/layer.js"></script>
{% block js %}{% endblock %}
</body>

</html>